ion-col {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: .5rem;
}
ion-icon {
    font-size: 1.5rem;
    color: var(--ion-color-primary);
}
ion-list-header{
    padding: .5rem;
    margin-left: .3rem;
    font-size: 16px;
}
img{
    width: 80%;
    display: block;
    margin: auto;
}
p, ion-list-header{
    line-height: 1.2;
}
ion-list {
    border-radius: 10px;
}
ion-footer{
    text-align: center;
    font-size: 16px;
}
a{
    text-decoration: none;
}
ion-button > a{
    background: transparent;
}
ion-button{
    margin-inline-start: 0;
    margin-inline-end: 0;
}
p{
    color: #fff; 
}